/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
    background: black;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.footer > .container {
  padding-left: 7px;
}

.footer > .features {
    color: #00ff00;
}

code {
  font-size: 80%;
}
